<div class="container pt-5">
  <h1>Add a new movie to your list </h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class:'btn btn-info'%>
  <% end %>
</div>
